# Environnement virtuel
.venv/
__pycache__/
*.pyc
*.pyo

# Caches et tests
.pytest_cache/
.ruff_cache/
coverage/
*.log

# Bases de données locales
*.db

# VSCode / Mac / OS
.vscode/
.DS_Store

# Fichiers générés
requirements.lock.txt
